<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/addcar.css">
</head>
<body>
    <header>
          <nav class="navbar" id="navbar">
    <a href="../index.html" class="logo" id="logo" >Car<span>Rental</span></a>
    <div class="nav-links" id="navLinks">
      <a href="./myaccount.html" id="myAccount">My Account</a>
      <a href="./favourites.html" id="favourites">❤️ Favorites</a>
         <a href="./addcar.html" id="addCar">+ Add Car</a>
         <a href="./mycar.html" id="myCars">My Cars</a>
      <a href="./register.html" id="register">Registration</a>
      <a href="./login.html" id="logIn">Log In</a>
      <a href="" id="logOut">Log Out</a>
    </div>
  </nav>
    </header>

    <div class="registration-container">
        <div class="registration-card" id="registrationCard">
            <h2>Add Car</h2>
            <input id="brand"          type="text"   placeholder="Brand"         required />
            <input id="model"          type="text"   placeholder="Model"         required />
            <input id="year"           type="number" placeholder="Year"          required />
            <input id="price"          type="number" placeholder="Price"         required />
            <input id="capacity"       type="number" placeholder="Capacity"      required />
            <select id="transmission">
                <option value="Automatic">Automatic</option>
                <option value="Manual">Manual</option>
            </select>
            <!-- <input id="transmission"   type="text"   placeholder="Transmission"  required /> -->
            <input id="createdBy"      type="text"   placeholder="Created By"    required />
            <input id="city"           type="text"   placeholder="City"          required />
            <input id="createdByEmail" type="email"  placeholder="Email"         required />
            <input id="fuelCapacity"   type="number" placeholder="Fuel Capacity" required />
            <input id="latitude"       type="number" placeholder="Latitude"      required />
            <input id="longitude"      type="number" placeholder="Longitude"     required />
            <input id="image1"         type="file" /> 
            <input id="image2"         type="file" />
            <input id="image3"         type="file" />
            <button id="addCarBtn">Add Car</button>
        </div>
    </div>
    


    <script src="../apps/addcar.js"></script>
</body>
</html>