<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/details.css">
    <link rel="stylesheet" href="../styles/style.css">
    
</head>
<body>
    <header>
          <nav class="navbar" id="navbar">
    <a href="../index.html" class="logo" id="logo" >Car<span>Rental</span></a>
    <div class="nav-links" id="navLinks">
      <a href="./myaccount.html" id="myAccount">My Account</a>
      <a href="./favourites.html" id="favourites">❤️ Favorites</a>
         <a href="./addcar.html" id="addCar">+ Add Car</a>
         <a href="./mycar.html" id="myCars">My Cars</a>
      <a href="./register.html" id="register">Registration</a>
      <a href="./login.html" id="logIn">Log In</a>
      <a href="" id="logOut">Log Out</a>
    </div>
  </nav>
    </header>

<main id="main">

</main>


    <script src="../apps/details.js"></script>
</body>
</html>